@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family:
    Source Code Pro,
    Consolas,
    Menlo,
    monospace !important;
} */

#gridArea {
  width: 100%;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: visible;
}

.error #previewArea {
  display: none;
}

#error,
#loading,
.error #loading {
  display: none;
}

#error {
  margin: 20px;
  background: palevioletred;
  padding: 30px;
}

.loading #loading,
.error #error {
  display: block;
}

.previewAreaPadding {
  height: 30vh;
}

.crosshatch {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='#fff' d='M0 0h8v8h-8z'/><path d='M0 0l8 8zm8 0l-8 8z' stroke-width='.5' stroke='#aaa'/></svg>");
  background-repeat: repeat;
}

.gridBG {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#svgArea svg {
  max-width: 90%;
  max-height: 30vh;
}

#topArea {
  background: white;
  position: relative;
}

input[type="number"] {
  border: lightslategray 1px solid;
  padding: 3px;
  width: 100%;
}

.leftInputContainer {
  display: flex;
  flex-direction: row-reverse;
}

.leftInputContainer input {
  margin-right: 10px;
}

#previewArea {
  position: fixed;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: white;
}

#initMessage {
  height: 100%;
  width: 100%;
  display: flex;
}

.initPanel {
  margin: auto;
}

.startHidden {
  display: none;
}

.sc2kimg {
  width: 45vw;
}

.design-container img {
  width: 90%;
}

.patternInfo {
  padding-left: 15px;
  padding-bottom: 10px;
}

button.downloadButton {
  /* text-decoration: underline !important; */
  cursor: pointer !important;
  color: #007bff !important;
  padding-right: 10px;
}
button.downloadButton:hover {
  text-decoration: none !important;
}
button.downloadButton:last-child {
  padding-right: 0;
}

.outer-design.design-container .panel-body {
  min-height: 100px;
}

.select-design-block-img {
  max-height: 100px;
}
